# Rust
/target


# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Node / JS
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# WASM build artifacts
/wasm-package/
